__unused
references/

.env
.env*-example
.env*-sample
.env.*

dist/
coverage/**/*
node_modules/

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
terraform.log
*.plan
.terraforms
